/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css?family=Roboto:300,300i,700,700i');

@font-face {
  font-family: Game of Thrones;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/game-of-thrones.ttf');
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%
}

.wrapper .container {
  max-width: 80rem
}

.wrapper>.container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem
}

.main {
  padding-top: 11rem;
}

@media (min-width:40.0rem) {
  .main {
    padding-top: 8rem
  }
}

@keyframes a {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 38321
  }
  25% {
    fill-opacity: 0;
    stroke: #9b4dca
  }
  to {
    fill-opacity: 1;
    stroke-dashoffset: 0
  }
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1
}

.navigation .container {
  padding-bottom: 0;
  padding-top: 0
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem
}

@media (min-width:80rem) {
  .navigation .navigation-list {
    margin-right: 0
  }
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative
}

.navigation .img {
  fill: #9b4dca;
  height: 2rem;
  position: relative;
  top: .3rem
}

.navigation .navigation-title,
.navigation .title {
  border-bottom: 0;
  color: #606c76;
  font-family: Game of Thrones, Helvetica Neue, Arial, sans-serif;
  position: relative
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.0rem;
  padding: 0;
  text-decoration: none
}

.navigation .navigation-title {
  display: inline-block;
}

.navigation .title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  width: 160px;
}

.navigation .navigation-link.active {
  color: #606c76
}

.mat-snack-bar-container.error-snackbar {
  background-color: #c51162;
}

.mat-snack-bar-container.error-snackbar  .mat-simple-snackbar-action {
  background-color: #c51162;
  border: 0.1rem solid #c51162;
  border-radius: .4rem;
  color: #ffffff;
}

.mat-snack-bar-container.success-snackbar {
  background-color: #0097a7;
}

.mat-snack-bar-container.success-snackbar .mat-simple-snackbar-action {
  background-color: #0097a7;
  border: 0.1rem solid #0097a7;
  border-radius: .4rem;
  color: #ffffff;
}

.mat-snack-bar-container.default-snackbar {
  background-color: #f4f5f6;
  color: #606c76;
}

.mat-snack-bar-container.default-snackbar .mat-simple-snackbar-action {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #ffffff;
}

.mat-snack-bar-container .mat-simple-snackbar {
  align-items: center;
}

.mat-snack-bar-container .mat-simple-snackbar-action {
  margin-bottom: 0;
}

.main .container .title-container {
  overflow: hidden;
}

.main .container .title {
  align-items: center;
  color: #2A2A57;
  display: flex;
  flex-wrap: wrap;
  font-family: Game of Thrones, Times New Roman, Times, serif;
  justify-content: space-around;
  margin: 0 auto 2.0rem;
  max-width: 470px;
  text-transform: uppercase;
}
